<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<div id="user_setting_container">
  <div class="sidebar">
    <ul>
      <li>
        <%= link_to "アカウント", "/users/account" %>
      </li>
      <li class="mark">
        <%= link_to "プロフィール", "/users/profile" %>
      </li>
    </ul>
  </div>

  <div class="main">
    <div class="user_setting_form">
      <h3 class="user_title">
          プロフィール
      </h3>
      <div class="user_setting_form_inner">
        <%= form_with model:@current_user do |f| %>
          <% if @current_user.image? %>
            <div class="user_setting_form_row", style ="justify-content:center;" >
              <%= image_tag @current_user.image.url, :alt => "アイコン画像", :class => "user_icon", :size => "100x100" %>
            </div>
          <% else %>
            <div class="user_setting_form_row", style ="justify-content:center;" >
              <%= image_tag "/assets/default_user.jpg", :alt => "アイコン画像", :class => "user_icon"%>
            </div>
          <% end %>
            <div class="user_setting_form_row">
              <div class="user_setting_title_area">
                <div class="user_setting_title">アイコン画像</div>
                <div class="mandatory">必須</div>
              </div>
              <div class="user_setting_input_area">
                <%= f.file_field :image %>
              </div>
            </div>
            <div class="user_setting_form_row">
              <div class="user_setting_title_area">
                <div class="user_setting_title">名前</div>
                <div class="mandatory">必須</div>
              </div>
              <div class="user_setting_input_area">
                <%= f.text_field :user_name %>
              </div>
            </div>
            <div class="user_setting_form_row">
              <div class="user_setting_title_area">
                <div class="user_setting_title">自己紹介</div>
                <div class="mandatory">必須</div>
              </div>
              <div class="user_setting_input_area">
                <%= f.text_area :introduction %>
              </div>
            </div>
            <div class="user_setting_form_row">
              <div class="user_setting_title_area">
                <%= f.submit "更新", class:"button", id:"user_setting_form_button"%>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
